/// Regular font family
/// @type List
$base-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$base-font-size: 24px;

$base-color: rgb(102, 102, 102);

$body-background: rgb(255, 204, 102) !default;

$white: rgb(255, 255, 255) !default;

$card-number-color: rgb(102, 102, 102);

$my-cards-color: rgb(242, 242, 242);

$card-expire-color: rgb(178, 178, 178);

$card-row-border: 4px solid rgb(225, 225, 225);

$card-row-border-active: 4px solid rgb(131, 147, 202);

$trans-title-color: rgb(0, 0, 0);

$black: rgb(0, 0, 0);

$trans-amount-debit-color: rgb(131, 147, 202);

$trans-amount-credit-color: rgb(102, 204, 51);

$trans-id-color: rgb(153, 153, 153);

$trans-head-border: rgb(229, 229, 229);

$h2-color: rgb(112, 117, 132);

$section-title-margin: 30px 0 30px 0;

$account-balance-color: rgb(68, 71, 81);

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
