@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  background: $body-background;
  color: $base-color;
  font: normal 125% / 1.4 $base-font-stack;
  font-size: $base-font-size;
  line-height: 1.6;
  padding: 40px;
}

h2 {
  color: $h2-color;
  font-weight: normal;
  width: 60%;

  margin: $section-title-margin;
  //margin-left: 59px;
  display: inline-block;
  font-size: 24px;
}

//Main Component
.container {
  //@include box-shadow(6px, 6px, 1px, $black);
  @include rounded(6px);
  border: thin solid rgba(black, .15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: $white;
  display: flex;
}

//Card Components
.my-wallet-wrapper {
  @include rounded(6px 0 0 6px);
  background-color: $my-cards-color;
  float: left;
  width: 40%;
  padding-top: 15px;
}

.trans-wrapper {
  padding-top: 15px;
  float: right;
  width: 60%;
}

.card-number {
  color: $card-number-color;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  margin: 0 0 10px;
}

.card-expire {
  color: $card-expire-color;
  font-size: 16px;
}

.card-row {
  @include rounded(4px);
  background-color: $white;
  border: $card-row-border;
  margin: 0 auto 30px;
  padding: 15px;
  width: 100%;

  &.active {
    border: $card-row-border-active;
  }
}

.card-issuer {
  &.visa {
    @include credit-card('../images/visa.png');
  }

  &.mastercard {
    @include credit-card('../images/master.png');
  }

  &.amex {
    @include credit-card('../images/amex.png');
  }
}

//Transaction Components
.trans-row {
  height: 42px;
  margin: 0 0 48px 59px;
}

.trans-id {
  color: $trans-id-color;
  font-size: 19px;
}

.debit {
  .trans-type {
    @include balance-img('../images/minus.png')
  }

  .trans-amount {
    float: right;
    margin: 20px 49px 0 0;
    font-weight: 600;
    @include debit-credit($trans-amount-debit-color);
  }
}

.credit {
  .trans-type {
    @include balance-img('../images/plus.png')
  }
  .trans-amount {
    float: right;
    margin: 23px 49px 0 0;
    font-weight: 600;
    @include debit-credit($trans-amount-credit-color);
  }
}

.trans-title {
  color: $trans-title-color;
  font-weight: 600;
}

.trans-type,
.trans-content-wrapper {
  float: left;
  height: 42px;
}

.trans-type {
  &.credit {
    @include balance-img('../images/plus.png')
  }

  &.debit {
    @include balance-img('../images/minus.png')
  }
}

.trans-content-wrapper {
  margin-right: 65px;
}

.section-head {
  width: 80%;
  margin: 0 auto 0 auto;

  &.card-head {
    width: 75%;
    margin-bottom: 30px;
  }

  &.trans-head {
    margin-bottom: 40px;
  }
}

.smaller-border {
  height: 0.125rem;
  width: 100%;
  background-color: $trans-head-border;
  border-radius: 5px;
  margin-top: 27px;
}

.account-balance {
  float: right;
  margin-top: 13px;
  //margin-right: 49px;
  color: $account-balance-color;
  font-size: 36px;
  font-weight: bold;
}

.wallet-plus {
  float: right;
  margin: $section-title-margin;
  a {
    cursor: pointer;
  }
  //margin-right: 49px;
}

.my-cards {
  margin: 0 auto;
  width: 75%;
}

#new-card-form {
  display: inline-block;
  margin: 20px auto;
  width: 100%;
}